.banner {
  background-image: url("https://images.unsplash.com/photo-1485988412941-77a35537dae4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1196&q=80"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 780px;
  width: 100%;
  /* border: 1px solid red; */
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.title {
  color: rgba(17, 199, 123, 0.89);
  font-weight: bold;
  font-size: 50px;
}
.about-btn {
  background-color: rgb(59, 59, 151);
  outline: none;
  border: none;
  padding: 10px 24px;
  color: white;
  border-radius: 8px;
  font-size: 20px;
}
